<!DOCTYPE html>
<html>
    <head>
        <title>Sacar del Producto</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}">
    </head>
    <script>
        function sacar_producto(){
            id_nombre = document.getElementById("nombre").value;
            id_valor = document.getElementById("valor").value;
            id_cantidad = document.getElementById("cantidad").value;
            alert("Inventario Actualizado");
            fetch("http://localhost:5000"+"/sacarc/"+id_nombre+"/"+parseInt(id_cantidad,10))
        }
    </script>
    <body>
        <h1>Agregar Producto</h1>
        <div>
            <label for="id">Nombre del producto</label>
            <input id="nombre">
            <label for="valor">Valor del producto</label>
            <input id="valor">
            <label for="cantidad">Cantidad del producto</label>
            <input id="cantidad">
            <button onclick="sacar_producto()" ><a href ="{{ url_for('index') }}">Modificar cantidad</a></button>
            <input name = "Salir" type="button" value="Salir" onclick = location.href="{{ url_for('index') }}">
        </div>
    </body>
</html>